@font-face{
  font-family: 'montserrat';
  src: url('../Fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('../Fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
    font-family: sourcesanspro;
    src: url("../Fonts/source-sans-pro/SourceSansPro-Regular.otf");
}

@font-face{
    font-family: sourcesansprobold;
    src: url("../Fonts/source-sans-pro/SourceSansPro-Bold.otf");
}

@font-face{
    font-family: panton;
    src: url("../Fonts/panton.otf");
}

a{
    text-decoration: none;
    color: #464646;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}

a:hover{
    color: #597896;
}

html,
body{
    margin: 0;
    padding: 0;
    height:100%;
    overflow-x: hidden;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

nav{
    width: 100%;
    height: 4.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid #b9b9b9;
}

nav a{
    cursor: pointer;
}

.right{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}

nav .left{
    padding-left: 10vw;
}

nav .right{
    padding-right: 10vw;
    font-family: montserrat;
}

nav .left h1{
    font-family: montserrat;
    font-size: 1.4em;
    color: #2574A9;
    margin: 0;
    line-height: calc(4.5em/1.4);
}

nav .right a{
    font-size: 1em;
    line-height: 4.5em;
    margin-right: 1em;
}

nav .right .btn{
    background-color: #2574A9;
    color: #fff;
    margin-right: 0;
    padding: 1.2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-radius: 5px;
}

#dropdown{
    margin-top: 4.5em;
    position: fixed;
    z-index: 100;
}

#dropdown section{
    width: 100vw;
    background-color: #f5f5f5;
    height: 3em;
    z-index: 100;
    position: relative;
}

#dropdown section a{
    line-height: 3em;
    font-size: 1em;
    font-family: montserrat;
    color: #464646;
    position: absolute;
    top: 0;
    left: 5vw;
    width: 100%;
    height: 100%;
    z-index: 100;
}

header{
    height: 65vh;
    width: 100%;
    background: -webkit-linear-gradient( rgba(44, 62, 80, 0.55), rgba(44, 62, 80, 0.55)), url("../Graphics/header.jpeg");
    background: linear-gradient( rgba(44, 62, 80, 0.55), rgba(44, 62, 80, 0.55)), url("../Graphics/header.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 1px;
    padding-top: 4.5em;
}

header .btn{
    color: #fff;
    margin-right: 0;
    padding: 1.2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-radius: 5px;
    border: 2px solid #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

header .btn:hover{
    color: #b9b9b9;
    border-color: #b9b9b9;
}

header#members{
    background: -webkit-linear-gradient( rgba(44, 62, 80, 0.55), rgba(44, 62, 80, 0.55)), url("../Graphics/club.jpg");
    background: linear-gradient( rgba(44, 62, 80, 0.55), rgba(44, 62, 80, 0.55)), url("../Graphics/club.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header#techguide{
    background: -webkit-linear-gradient( rgba(44, 62, 80, 0.55), rgba(44, 62, 80, 0.55)), url("../Graphics/stacks.jpg");
    background: linear-gradient( rgba(44, 62, 80, 0.55), rgba(44, 62, 80, 0.55)), url("../Graphics/stacks.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#techguide-accordion{
    width: 60%;
    margin: 2em auto;
}

#techguide-accordion h1, #techguide-accordion h2{
    font-size: 1.5em;
    color: #464646;
    margin-bottom: 0;
}

#techguide-accordion h2{
    font-size: 1.2em;
    font-family: montserrat;
}

#techguide-accordion .fa-chevron-down{
    color: #6c6c6c;
    float: right;
}

#techguide-accordion h1, #techguide-accordion .q{
    font-family: montserrat;
}

#techguide-accordion .q{
    font-size: 1.2em;
    cursor: pointer;
    width: 100;
    margin: 0;
}

#techguide-accordion hr{
    margin: 15px 0 15px 0;
}

#techguide-accordion .a{
    font-family: sourcesanspro;
    display: none;
    margin: 0;
}

#techguide-accordion .a a{
    font-family: sourcesansprobold;
}

#techguide-accordion ul{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

#techguide-accordion li{
    padding-left: 10px;
    padding-right: 10px;
}

#techguide-accordion img{
    width: 50%;
}

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.center{
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

header .center{
    color: #fff;
    font-family: montserrat;
}

header .center h1{
    margin-bottom: 0;
    font-size: 3em;
}

header .center p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#body{
    padding-bottom: 6em;
}

#about{
    padding: 1px;
    padding-top: 3em;
    padding-bottom: 3em;
}

#about h1, #pastBoard h1{
    color: #464646;
    font-family: montserrat;
    font-size: 1.2em;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

#pastBoard{
  padding: 3em;
}

#pastBoard h2{
  color: #464646;
  font-family: montserrat;
  font-size: 1em;
}

#pastBoard p{
  font-family: sourcesanspro;
}

#about-long{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    font-family: sourcesanspro;
    width: 50%;
    margin: 1em auto;
    color: #6C6C6C;
    font-size: 1em;
}

#about p{
    color: #6c6c6c;
    font-size: 1em;
    font-family: sourcesanspro;
    margin: 1em auto;
    width: 50%;
    text-align: center;
}

#about-long a, #about p a{
    font-family: sourcesansprobold;
}

#join{
    padding: 1px;
    width: 100%;
    height: 15em;
    background-image: url(../Graphics/pattern.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #464646;
}

#join h1{
    font-family: montserrat;
    margin-bottom: 0;
}

#join p{
    font-family: sourcesanspro;
    margin-top: 0;
}

#join a{
  font-family: sourcesansprobold;
}

#join #email-input{
    width: 30%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 2.5em;
}

#join #email-input #entry_1134060290{
    width: 70%;
    border: none;
    font-family: montserrat;
    font-size: 0.8em;
    padding-left: 1em;
}

#join #email-input #ss-submit{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;
    border-radius: 0;
    font-family: montserrat;
    color: #464646;
    font-size: 0.8em;
    background-color: #99B9D9;
    cursor: pointer;
}

#tools, #roster, #faqs, #student-tools{
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

#faqs{
    width: 100vw;
    background-color: #ECECEC;
}

#tools h1, #roster h1, #faqs h1{
    font-family: montserrat;
    font-size: 1.5em;
    color: #464646;
    margin-bottom: 0;
}

#tools .subtitle, #roster .subtitle, #faqs .subtitle{
    margin-top: 0;
    font-family: sourcesanspro;
    color: #6C6C6C;
    font-size: 1em;
    width: 50%;
    margin: 0 auto 2em;
}

#roster .subtitle, #faqs .subtitle{
    margin-bottom: 1em;
}

#roster #wduty, #roster #current{
    width: 50%;
    display: inline-block;
    vertical-align: text-top;
}

#roster ul{
    font-family: sourcesanspro;
    margin-top: 0.2em;
    list-style-position: inside;
    padding: 0;
}

#roster hr{
    width: 3em;
    border-top: 3px solid #464646;
}

#roster #current{
    margin-right: -6px;
    border-right: 1px solid #b9b9b9;
}

.app{
    width: 15em;
    height: 15em;
    color: #fff;
    background-color: #52B3D9;
    display: inline-block;
    padding: 1px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    margin-right: calc(0.2em - 4px);
    margin-bottom: 0.2em;
    vertical-align: text-top;
}

#full-list{
    font-family: sourcesansprobold;
    text-decoration: underline;
    margin: 0.5em auto;
    padding-right: 1em;
    text-align: right;
}

.app:hover{
    color: #d4d4d4;
}

.app:nth-child(4){
    background-color: #3498db;
}

.app:nth-child(5){
    background-color: #3A539B;
}

.app:nth-child(6){
    background-color: #34495e;
}

.app i{
    font-size: 3em;
}

.app .center{
    top: 50%;
}

.app p{
    font-family: montserrat;
    margin-bottom: 0;
}

.app a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.app span{
    margin: 0;
    font-family: sourcesanspro;
}

#student-tools h2{
    font-family: montserrat;
    color: #464646;
    font-size: 1em;
    text-align: left;
    text-decoration: underline;
}

#student-tools{
    text-align: left;
}

.student-tool{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(rgba(70, 70, 70, 0.45), rgba(70, 70, 70, 0.45)), url("../Graphics/header.jpeg");
    background-image: linear-gradient(rgba(70, 70, 70, 0.45), rgba(70, 70, 70, 0.45)), url("../Graphics/header.jpeg");
}

#board{
    padding-top: 3em;
    width: 90%;
    margin: 0 auto 3em;
    text-align: center;
}

.board-member{
    text-align: center;
    display: inline-block;
    width: 22%;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: text-top;
    color: #464646;
}

.board-member-big{
    width: 40%;
    margin-bottom: 3em;
}

.img{
    width: 13em;
    height: 13em;
    border-radius: 100%;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.board-member:nth-child(1) .img{
    background-image: url(../Graphics/Members/ibarakiev.jpg);
}

.board-member:nth-child(2) .img{
  background-image: url(../Graphics/Members/schen.jpg);
}

.board-member:nth-child(3) .img{
    background-image: url(../Graphics/Members/jshen.jpg);
}

.board-member:nth-child(4) .img{
    background-image: url(../Graphics/Members/akim.jpeg);
}

.board-member:nth-child(5) .img{
    background-image: url(../Graphics/Members/jshen.jpg);
}

.board-member:nth-child(6) .img{
    background-image: url(../Graphics/Members/jpan.jpeg);
}
.board-member:nth-child(7) .img{
    background-image: url(../Graphics/Members/jshen.jpg);
}

.board-member h1{
    font-family: montserrat;
    font-size: 1.5em;
    margin-bottom: 0;
}

.board-member p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: sourcesanspro;
}

.board-member .subtitle{
    font-family: panton;
    font-size: 1em;
}

#faq-long{
    text-align: left;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 3em;
    min-height: 10em;
}

#column-left{
    float: left;
    width: 31%;
}

#column-right{
    float: right;
    width: 31%;
}

#column-center{
    display: inline-block;
    width: 31%;
    margin-left: 3.3%;
    margin-right: 3.3%;
}

#faq-long h1{
    font-size: 1.3em;
    color: #464646;
    margin-bottom: 0;
}

#faq-long section h1{
    font-size: 1em;
    color: #464646;
    margin-bottom: 0;
}

#faq-long p{
    font-size: 0.9em;
    margin-top: 0;
    color: #6c6c6c;
    font-family: montserrat;
}

footer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: montserrat;
    position: absolute;
    bottom: 0;
    width: 80vw;
    height: 4em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #464646;
}

.fa-heart{
    color: #c0392b;
}

*:focus {
    outline: 0;
}

@media screen and (max-width: 1200px) {
    #faq-long{
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    #about h1{
        width: 60%;
    }

    #about-long, #about p{
        width: 70%;
    }

    #board{
        width: 95%;
    }

    #column-center, #column-left, #column-right{
        width: 100%;
        margin: 0;
    }

    #faq-long{
        padding-bottom: 25em;
    }
}

@media screen and (max-width: 900px) {
    #full-list, #student-tools h2{
        text-align: center;
        padding: 0;
    }

    #student-tools{
        text-align: center;
    }
}

@media screen and (max-width: 850px) {
    #about h1{
        width: 65%;
    }

    #about-long, #about p{
        width: 75%;
    }

    nav .left{
        padding-left: 5vw;
    }

    nav .right{
        padding-right: 5vw;
    }

    .img{
        width: 13em;
        height: 13em;
    }
}

@media screen and (max-width: 800px) {
    #about h1{
        width: 65%;
    }

    #about-long{
        width: 85%;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        text-align: center;
    }

    #about p{
        width: 85%;
    }

    #join #email-input{
        width: 60%;
    }

    #body{
        padding-bottom: 3em;
    }

    footer{
        width: 90vw;
    }

    #tools .subtitle, #roster .subtitle, #faqs .subtitle{
        width: 90%;
    }

    .app{
        width: 20em;
        height: 20em;
    }

    .board-member{
        width: 50%;
        margin-bottom: 2em;
    }

    #faq-long{
        padding-bottom: 30em;
    }

    #faqs{
        margin-bottom: 3em;
    }

    #techguide-accordion{
        width: 80%;
    }

    #join{
        margin-bottom: 3em;
    }

    #roster #wduty, #roster #current{
        width: 100%;
    }

    #roster #current{
        border-bottom: 1px solid #b9b9b9;
        border-right: 0px;
        padding-bottom: 2em;
    }

    #roster #wduty{
        padding-top: 2em;
    }

    #roster{
        padding-top: 0;
    }
}

@media screen and (max-width: 500px) {
    #about h1{
        width: 75%;
    }

    .board-member{
        width: 95%;
    }

    nav .right a{
        margin-right: 0.2em;
    }

    footer{
        display: block;
        text-align: center;
        height: 5em;
    }

    footer .right{
        text-align: center;
    }

    #join #email-input{
        width: 80%;
    }

    header .center h1{
        font-size: 2.5em;
    }

    #faq-long{
        padding-bottom: 33em;
    }

    #faqs{
        margin-bottom: 5em;
    }

    #techguide-accordion{
        width: 90%;
    }

    #techguide-accordion li{
        padding-left: 5px;
        padding-right: 5px;
    }
}
